* text=auto !eol
development/PHPunit/coverage/butter.png -text
development/PHPunit/coverage/chameleon.png -text
development/PHPunit/coverage/close12_1.gif -text
development/PHPunit/coverage/glass.png -text
development/PHPunit/coverage/scarlet_red.png -text
development/PHPunit/coverage/snow.png -text
development/PHPunit/test_results.txt -text
development/Smarty3Doc/Smarty/Security/Smarty_Security_Policy.html -text
development/lexer/smarty_internal_templateparser.php -text
distribution/libs/sysplugins/smarty_internal_templateparser.php -text
