* text=auto !eol
/README -text
/change_log.txt -text
/index.php -text
libs/Smarty.class.php -text
libs/lexer/Create_Config_Parser.php -text
libs/lexer/Create_Template_Parser.php -text
libs/lexer/Exception.php -text
libs/lexer/Lempar.php -text
libs/lexer/LexerGenerator.php -text
libs/lexer/LexerGenerator/Exception.php -text
libs/lexer/LexerGenerator/Lexer.php -text
libs/lexer/LexerGenerator/Parser.php -text
libs/lexer/LexerGenerator/Parser.y -text
libs/lexer/LexerGenerator/Regex/Lexer.php -text
libs/lexer/LexerGenerator/Regex/Parser.php -text
libs/lexer/LexerGenerator/cli.php -text
libs/lexer/ParserGenerator.php -text
libs/lexer/ParserGenerator/Action.php -text
libs/lexer/ParserGenerator/ActionTable.php -text
libs/lexer/ParserGenerator/Config.php -text
libs/lexer/ParserGenerator/Data.php -text
libs/lexer/ParserGenerator/Parser.php -text
libs/lexer/ParserGenerator/PropagationLink.php -text
libs/lexer/ParserGenerator/Rule.php -text
libs/lexer/ParserGenerator/State.php -text
libs/lexer/ParserGenerator/Symbol.php -text
libs/lexer/ParserGenerator/cli.php -text
libs/lexer/internal.templatelexer.php -text
libs/lexer/internal.templatelexer.plex -text
libs/lexer/internal.templateparser.php -text
libs/lexer/internal.templateparser.y -text
libs/sysplugins/internal.base.php -text
libs/sysplugins/internal.caching_file.php -text
libs/sysplugins/internal.compile_assign.php -text
libs/sysplugins/internal.compile_capture.php -text
libs/sysplugins/internal.compile_for.php -text
libs/sysplugins/internal.compile_foreach.php -text
libs/sysplugins/internal.compile_if.php -text
libs/sysplugins/internal.compile_include.php -text
libs/sysplugins/internal.compile_nocache.php -text
libs/sysplugins/internal.compile_smarty_tag.php -text
libs/sysplugins/internal.compile_smarty_variable.php -text
libs/sysplugins/internal.compilebase.php -text
libs/sysplugins/internal.compiler.php -text
libs/sysplugins/internal.function.php -text
libs/sysplugins/internal.modifier.php -text
libs/sysplugins/internal.pluginbase.php -text
libs/sysplugins/internal.resource_file.php -text
libs/sysplugins/internal.resource_php.php -text
libs/sysplugins/internal.resource_string.php -text
libs/sysplugins/internal.template.php -text
libs/sysplugins/internal.templatelexer.php -text
libs/sysplugins/internal.templateparser.php -text
libs/sysplugins/internal.write_file.php -text
libs/sysplugins/method.setDefaultResource.php -text
libs/sysplugins/method.test.php -text
libs/sysplugins/method.trigger_fatal_error.php -text
plugins/function.mailto.php -text
plugins/modifier.escape.php -text
plugins/modifier.truncate.php -text
templates/header.tpl -text
templates/include.tpl -text
templates/index.tpl -text
templates/index_view.php -text
templates/nocache_inc.tpl -text
templates/test_if.tpl -text
templates/test_inc.tpl -text
templates/test_inc2.tpl -text
templates/test_nocache.tpl -text
templates/test_nocache2.tpl -text
templates/test_object.tpl -text
templates/test_parser.tpl -text
templates/test_smoke.tpl -text
/test_if.php -text
/test_include.php -text
/test_nocache.php -text
/test_nocache2.php -text
/test_object.php -text
/test_parser.php -text
/test_smoke.php -text
